.blog-post-title {
    h1 {
        margin-bottom: 5px;
    }

    p {
        font-style: italic;
    }

    .publication-data {
        font-size: 15px;
    }

    .publication-summary {
        padding: 15px 30px;
    }
}