@import url(//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,latin-ext);
$primary-color: #2ECC71;
$primary-text-color: #2C3E50;

body {
    color: $primary-text-color;
    font-family: 'Lora', serif;
}