@import 'src/styles/theme';

.posts {
    list-style-type: none;
    margin: 0;
}

.post {
    padding: 15px 0;

    a {
        color: $primary-text-color;
        display: block;
        border-bottom: 1px solid transparent;
        text-decoration: none;

        &:hover {
            border-bottom: 1px solid $primary-color;
        }
    }

    h2 {
        margin-bottom: 0;
    }

    p {
        color: #777777;
        font-size: .8rem;
        font-style: italic;
    }
}